@font-face {
    font-family: "cerapro-black";
    src: url(../font/CeraPro-Black.ttf);
}
@font-face {
    font-family: "cerapro-bold";
    src: url(../font/CeraPro-Bold.ttf);
}
@font-face {
    font-family: "cerapro-light";
    src: url(../font/CeraPro-Light.ttf);
}
@font-face {
    font-family: "cerapro-medium";
    src: url(../font/CeraPro-Medium.ttf);
}
@font-face {
    font-family: "cerapro-regular";
    src: url(../font/CeraPro-Regular.ttf);
}
@font-face {
    font-family: "hangedletters";
    src: url(../font/HangedLetters.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    border-style: none;

}

:root {
    --font-family: "Cera Pro", sans-serif;
  }
img{
    width: 100%;
}
.container{
    width: 83.3%;
    margin: 0 auto;
    display: flex;
}
header{
    padding-top:30px ;
}
header>div{
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 12.5%;

}
#log{
    width: 22.8%;
}
#name{
    padding-bottom:10px ;
    width: 73%;
}
.menu{
    width: 30%;
}
.menu>a{
    font: 400 16px "Cera Pro", sans-serif;
    color: #3d3d3d;
    padding: 25px 25px 0px 0px;
}
#selected{
    font: 700 16px "Cera Pro", sans-serif;
    color: #3d3d3d;
    text-decoration:underline 3px;
    text-decoration-color: #46a358;
    text-underline-offset: 25px;
}
.buttonlogin{
    width: 8%;
}
.button{
    width: 100%;
    height: 35px;
    border-radius:6px;
    background-color: #46a358;

    display: flex;
    align-items: center;
    justify-content: center;
    font: 500 18px "Cera Pro", sans-serif;
    color: #fff;
}
.button>img{
    width: 20px;
}
.flexoption{
    padding-top: 7px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.left-col{
    width: 57.75%;
}
.left-col>h3{
    font: 500 14px / 1.14286 "Cera Pro", sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
}
.left-col>h1{
    padding-top: 7px ;

    font: 900 70px / 1 "Cera Pro", sans-serif;
    text-transform: uppercase;
    color: #3d3d3d;
}
.left-col>h1>a{
    display:inline-flex;
    font: 900 70px / 1 "Cera Pro", sans-serif;
    color: #46a358;
}
.left-col>p{
    padding-top: 5px ;
    font: 400 14px / 1.71429 "Cera Pro", sans-serif;
    color: #727272;
}
#shopnow{
    padding-top: 44px ;
    width: 20.20%;
}
.right-col{
    width: 42.25%;
    min-height: 100px;
}
.Categories{
    width: 25.83%;
}
.Categories>div{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.Categories>h6{
    padding: 18px 0px 7px 14px;
    font: 700 18px / 0.88889 "cerapro-bold", sans-serif;
    color: #3d3d3d;
}
.Categories>div>a{
    font: 400 15px / 2.66667 "cerapro-medium", sans-serif;
    color: #3d3d3d;
}
.Categories>div>a:first-child{
    font: 700 15px / 2.66667 "Cera Pro", sans-serif;
    color: #46a358;
}
.sale{
    position: absolute;
    width: 25.6%;
    padding-top: 50%;
    left: 40px;
    
}
.productlist{
    position: relative;
    width: 74.17%;
    margin-top: 50px;
}
.referencepoint{
    display: flex;
}
.point>a{
    font: 400 15px / 1.06667 "cerapro-medium", sans-serif;
    color: #3d3d3d;
    padding-left: 40px;
}
.point>a:first-child{
    font: 700 15px / 1.06667 "cerapro-bold", sans-serif;
    color: #46a358;
    text-decoration:underline 2px;
    text-underline-offset: 7px;
}
.shortby{
    width: 30.75%;
    margin-left: auto;
}
.shortby>form>label,select{
    vertical-align: 7px;
    font: 400 15px / 1.06667 "cerapro-medium", sans-serif;
    color: #3d3d3d;
    border: none;
    outline: none;
}
.productmenu{
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    row-gap: 70px;
}
.product{
    width: 30.714%;
    display: flex;
    flex-direction: column;
}
.product>div>p{
    font: 400 16px / 1 "cerapro-medium", sans-serif;
    color: #3d3d3d;
}
.product>div>p:last-child{
    font: 700 18px / 0.88889 "cerapro-bold", sans-serif;
    color: #46a358;
}
.Categories>div>h5{
    font: 400 65px / 1 "hangedletters", sans-serif;
    color: #46a358;
    padding-left: 22px;
}
.Categories>div>h5{
    font: 400 65px / 1 "hangedletters", sans-serif;
    color: #46a358;
    text-align: center;
    padding-left: 22px;
}
.Categories>div>h4{
    font: 700 23px / 0.69565 "cerapro-bold", sans-serif;
    text-align: center;
    color: #3d3d3d;
}
.Categories>div:last-child{
    display: inline;
    padding-top: 377px;
}
.page{
    width: 23%;
    display: inline-block;
    margin-left: auto;
    margin-top:90px ;
}
.page>a{
    padding: 5%;
    font: 700 18px / 0.88889 "cerapro-medium", sans-serif;
}
.page>a.active{
    color: #fff;
    width: 16.27%;
    margin-left:2px;
    background: #46a358;
    border-radius: 4px;
}
.blogpost{
    width: 100%;
    display: flex;
    padding-top: 30px ;
    justify-content:space-between;
}
.blogpost>div{
    display: flex;
    width:48.83333%;
    align-items: center;
}
.blogpost>div>img{
    width:48.9761%;
}
.blogpost>div>div{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
.blogpost>div>div>h3{
    font: 900 18px / 1.33333 "cerapro-black", sans-serif;
    text-transform: uppercase;
    color: #3d3d3d;
    text-align: right;
}
.blogpost>div>div>p{
    font: 400 14px / 1.71429 "cerapro-medium", sans-serif;
    text-align: right;
    color: #727272;
}
.blogpost>div>div>a{
    margin-left: 53%;
    width: 46.82274%;
    background-color: #46a358;
    border-radius: 6px;
    font: 500 14px / 1.42857 "cerapro-medium", sans-serif;
    color: #fff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogpost>div>div>a>img{
    margin-left: 3px;
    width: 10%;
}
.titleblog{
    margin-top: 138px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}
.ourblogposts{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}   
.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.title>h3{
    font: 700 30px / 0.53333 "cerapro-bold", sans-serif;
}
.title>p{
    font: 400 14px / 0.53333 "cerapro-medium", sans-serif;
}
.ourblogposts>div{
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 22.33333%;
}
.gep{
    padding-bottom:5px ;
}
.ourblogposts>div>h3{
    font: 700 20px / 1.3 "Cera Pro", sans-serif;
}
.ourblogposts>div>p{
    font: 400 14px / 1.14286 "cerapro-regular", sans-serif;
}
.green{
    font: 500 14px / 1.14286 "cerapro-medium", sans-serif;
    color: #46a358;
}
.ourblogposts>div>a{
    width: 33.2089%;
    font: 500 14px / 1.14286 "cerapro-bold", sans-serif;
}
.ourblogposts>div>a>img{
    width: 12.5%;
}
.ourblogposts>div>a:hover{
    color: #46a358;
}
